    <div
      class="grid grid-cols-3 gap-3 snap-proximity snap-y overflow-y-auto mt-4"
      style="scroll-snap-type: y mandatory; height: 500px"
    >
      <div
        class="mr-3"
        *ngFor="let chapter of comicChapters"
     
        style="scroll-snap-align: start"
      >
        <div
          class="flex items-center col-span-1 bg-gray-100 text-sm hover:bg-gray-200 rounded-lg px-2 py-1 cursor-pointer tooltip-trigger select-none"
        >
          <div>
            <!-- Chapter Title -->
            <a
              routerLink="/truyen-tranh/345345/chapter/{{
                chapter.id
              }}"
            >
              <p class="p-1 font-medium">#{{ chapter.chapterTitle }}</p>
            </a>
          </div>
          <div class="ml-auto">
            <div class="text-sm text-gray-500">
              updated: {{ chapter.updateAt }}
            </div>
            <div class="text-sm text-gray-500">
              view: {{ chapter.viewCount | numeral }}
            </div>
          </div>
        </div>
        <!-- Link to Comments -->
      </div>
    </div>