<ng-container *ngIf="comic" class="max-w-2xl mx-auto px-4">
    <div class="detail-info">
        <div class="grid grid-cols-3 gap-4">
            <div class="col-xs-4 col-image">
                <img src="{{ comic.coverImage }}" alt="{{ comic.title }}">
            </div>
            <div class="col-xs-8 col-info">
                <ul class="list-info">
                    <li class="othername flex space-x-2">
                        <p class="name">
                            <i class="fa fa-plus"></i> Tên khác:
                        </p>
                        <h2 class="other-name  font-bold">{{ comic.title }}</h2>
                    </li>
                    <li class="author flex space-x-2">
                        <p class="name col-xs-4">
                            <i class="fa fa-user"></i> Tác giả:
                        </p>
                        <p class="col-xs-8">{{ comic.author }}</p>
                    </li>
                    <li class="status  flex space-x-2">
                        <p class="name col-xs-4">
                            <i class="fa fa-rss"></i> Tình trạng
                        </p>
                        <p class="col-xs-8">{{ comic.status == 0 ? 'Đang tiến hành' : 'Đã hoàn thành' }}</p>
                    </li>
                    <li class="kind row flex space-x-2">
                        <p class="name col-xs-4">
                            <i class="fa fa-tags"></i> Thể loại:
                        </p>
                        <p class="col-xs-8">
                            <!-- Assuming comic.categories is an array of category names -->
                            <ng-container *ngFor="let category of comic.genres">
                                <a class="category" type="button" href="#">{{ category.title }}</a><span> - </span>
                            </ng-container>
                        </p>
                    </li>
                    <li class="row flex">
                        <p class="name ">
                            <i class="fa fa-eye"></i> Lượt xem
                            {{ comic.viewCount }}
                        </p>

                    </li>
                </ul>
                <div class="mrt5 mrb10" itemscope="" itemtype="http://schema.org/Book">
                    <a [href]="comic.url">
                        <span itemprop="name">{{ comic.title }}</span>
                    </a>
                    <span itemprop="aggregateRating" itemscope="" itemtype="https://schema.org/AggregateRating">
                        Xếp hạng:
                        <span itemprop="ratingValue">{{ comic.rating }}</span>
                        <span itemprop="bestRating">5</span> -
                        <span itemprop="ratingCount">Lượt đánh giá.</span>
                    </span>
                </div>
                <div class="row rating">
                    <div class="col-xs-6">
                        <div class="star" data-id="83850" data-allowrating="true" style="cursor: pointer;">
                            <!-- You may need to implement the star rating logic here -->
                        </div>
                    </div>
                    <div class="col-xs-6 lazy-module" data-type="facebook" style="overflow:hidden">
                        <!-- Facebook like button code -->
                    </div>
                </div>
                <div class="follow">
                    <!-- Follow button and follower count -->
                </div>
                <div class="read-action mrt10 mrb10">
                    <a class="btn btn-warning mrb5"> Đọc từ đầu</a>
                    <a class="btn btn-warning mrb5"> Đọc mới nhất</a>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-content">
        <h3 class="list-title">
            <i class="fa fa-file-text-o"></i> Nội dung
        </h3>
        <p class="shortened">
            {{ comic.description }}
        </p>
        <a href="#" class="morelink">Xem thêm <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="mt-8 flex justify-center">
        <button type="button" class="py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="goBack()">Go
            Back</button>
    </div>
</ng-container>