<div class="grid gap-[12px] grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 2xl:grid-cols-8">
  <div *ngFor="let comic of listComics"
    class="bg-white shadow-md h-full flex flex-col rounded-lg overflow-hidden relative"
  >

    <div
      class="relative w-full h-0 overflow-hidden transition-transform duration-300 transform-gpu hover:-translate-y-2"
      style="padding-bottom: 140%"
    >
      <a
        [routerLink]="['/admin/comic',comic.slug]"
        routerLinkActive="active"
        class="flex h-full w-full"
      >
        <img [src]='comic["cover_image"]' loading="lazy" class="object-cover
        w-full absolute" />
        <div
          class="w-full backdrop-blur-sm bg-gradient-to-t from-black absolute bottom-0 flex justify-start"
        >
          <div class="text-white p-1 w-full group">
            <p class="title font-bold line-clamp-1 hover:line-clamp-none">
              {{comic.title}}
            </p>

    
          </div>
        </div>
      </a>
    </div>

    <div
      class="p-2 flex justify-between card-footer text-[0.75rem] bg-slate-100 h-full"
    >
      <p class="chapter font-semibold line-clamp-1">
         {{comic.chapters[0].chater_url }}
      </p>
      <span class="text-end text-[0.75rem] inline text-gray-700">
         {{comic.update_at | date : 'dd/MM/yyyy'}}
      </span>
    </div>

  </div>
</div>
