
/* grid-layout.component.scss */
.angry-grid {
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 5px;
   height: 400px;
 
   .grid-item {
     background-size: cover;
     background-position: center;
     
   }
 
   #item-0 {
     grid-row-start: 1;
     grid-column-start: 1;
     grid-row-end: 2;
     grid-column-end: 3;
     width:134px;
     height:201px;
   }
 
   #item-1 {
     grid-row-start: 1;
     grid-column-start: 3;
     grid-row-end: 3;
     grid-column-end: 4;

   }
 
   #item-2 {
     grid-row-start: 2;
     grid-column-start: 1;
     grid-row-end: 3;
     grid-column-end: 2;

   }
 
   #item-3 {
     grid-row-start: 2;
     grid-column-start: 2;
     grid-row-end: 3;
     grid-column-end: 4;
 width:134px;
  height:201px;
   }
 }
 
 