@tailwind base;
@tailwind components;
@tailwind utilities;

// Define custom scrollbar styles
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b8b8b8;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cacaca;
  }

  .tooltip-trigger {
    position: relative;
  }
  
  .tooltip-content {
    visibility: hidden;
    width: max-content;
    background-color: rgb(128, 128, 128);
    color: white;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .tooltip-trigger:hover .tooltip-content {
    visibility: visible;
    opacity:70%;
  }
  