<div
  id="content"
  class="md:container mx-auto mt-10"
  (keydown.enter)="
    ClickSearch();
    selectOptions.genres.isShow = false;
    selectOptions.sorts.isShow = false;
    selectOptions.status.isShow = false
  "
>
  <div class="grid gap-2 md:grid-cols-[1fr_12rem] mx-2 lg:mx-0">
    <form class="flex items-center relative">
      <div class="absolute left-1 p-2 rounded-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          class="icon text-icon-contrast text-gray-700"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 19a8 8 0 1 0 0-16 8 8 0 0 0 0 16m10 2-4.35-4.35"
          ></path>
        </svg>
      </div>
      <input
        class="placeholder-current bg-gray-200 w-full h-10 rounded-lg pl-12 pr-4 focus:outline-primary-100 outline-1 focus:bg-slate-100"
        type="search"
        placeholder="Nhập tên truyện..."
        title="Search"
        [(ngModel)]="selectOptions.keyword.value"
        (ngModelChange)="isLoad = true"
        name="keyword"
      />
      <div class="md-search"></div>
    </form>

    <!-- Show Filters Button -->
    <button
      (click)="toggleFilters()"
      class="rounded-lg relative flex items-center overflow-hidden accent text-white"
      style="min-height: 2.5rem; min-width: 100%"
      title="Show Filters"
      [ngClass]="{
        'bg-primary-50': showFilters,
        'bg-primary-100': !showFilters
      }"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
      >
        <svg
          class="h-6 w-6 transition-all ease-in mx-2"
          [ngClass]="{ 'rotate-180 ': showFilters }"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>

        <p class="mx-2">{{ showFilters ? "Ẩn bộ lọc" : "Thêm bộ lọc" }}</p>
      </span>
    </button>
  </div>
  <div class="grid grid-cols-[1fr_5rem] border-b border-b-accent-10">
    <ul class="flex flex-wrap gap-2 py-2 mx-1 overflow-hidden">
      <li
        *ngIf="selectOptions.sorts.value !== -1"
        class="px-2 border border-primary-100 text-primary-100 rounded-full select-none cursor-pointer flex"
      >
        <svg
          *ngIf="selectOptions.sorts.value != lastupdate"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-x icon small text-icon-contrast text-undefined my-auto"
          viewBox="0 0 24 24"
          (click)="
            RemoveFilterTag({ option: 'sort', data: selectOptions.sorts })
          "
        >
          <path d="M18 6 6 18M6 6l12 12"></path>
        </svg>
        <span class="text-sm">{{ selectOptions.sorts.name }}</span>
      </li>
      <li
        *ngIf="selectOptions.status.value !== -1"
        class="border border-primary-100 text-primary-100 rounded-full px-2 cursor-pointer flex space-x-1 whitespace-nowrap"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-x icon small text-icon-contrast text-undefined my-auto"
          viewBox="0 0 24 24"
          (click)="
            RemoveFilterTag({ option: 'status', data: selectOptions.status })
          "
        >
          <path d="M18 6 6 18M6 6l12 12"></path>
        </svg>
        <span class="text-sm">{{ selectOptions.status.name }}</span>
      </li>

      <li
        *ngFor="let key of getGenreKeys()"
        class="px-2 rounded-full select-none cursor-pointer flex space-x-1 whitespace-nowrap"
        [ngClass]="{
          ' bg-gray-100 ': !selectOptions.genres.value[key],
          'text-red-500 line-through outline-1 outline-dashed outline-red-500 ':
            selectOptions.genres.value[key] == 2,
          'text-primary-100 border border-primary-100 ':
            selectOptions.genres.value[key] == 1
        }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-x icon small text-icon-contrast text-undefined my-auto"
          viewBox="0 0 24 24"
          (click)="
            RemoveFilterTag({
              option: 'genres',
              data: key
            })
          "
        >
          <path d="M18 6 6 18M6 6l12 12"></path>
        </svg>
        <span class="text-sm">{{ selectOptions.genres.name[key] }}</span>
      </li>
      <li
        *ngIf="selectOptions.year.value > 0"
        class="px-2 rounded-full border border-primary-100 text-primary-100 cursor-pointer flex space-x-1 whitespace-nowrap"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-x icon small text-icon-contrast text-undefined my-auto"
          viewBox="0 0 24 24"
          (click)="
            RemoveFilterTag({ option: 'year', data: selectOptions.year })
          "
        >
          <path d="M18 6 6 18M6 6l12 12"></path>
        </svg>
        <span class="text-sm">{{ selectOptions.year.value }}</span>
      </li>
    </ul>
    <div
      class="flex justify-end text-primary-100 gap-2 m-2 lg:m-2 text-xs"
      *ngIf="showFilters"
    >
      <!-- <button
        class="font-semibold text-center text-primary-100 inline-flex"
        (click)="saveFilters()"
      >
        <span>Lưu</span>
      </button>
      | -->
      <button
        class="font-semibold text-center text-primary-100 inline-flex gap-1"
        (click)="clearAllFilter()"
      >
        <svg
          class="h-4 w-4"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="3 6 5 6 21 6" />
          <path
            d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
          />
          <line x1="10" y1="11" x2="10" y2="17" />
          <line x1="14" y1="11" x2="14" y2="17" />
        </svg>
        <span>Xóa</span>
      </button>
    </div>
  </div>

  <!-- Filter Options -->
  <div
    [ngClass]="{ hidden: !showFilters }"
    class="mx-2 lg:mx-0 grid grid-rows-[1fr_0fr]"
  >
    <div
      class="grid grid-cols-2 max-sm:grid-cols-1 md:grid-cols-3 xl:grid-cols-4 3xl:grid-cols-5 gap-8 my-4 max-sm:gap-4"
    >
      <div class="relative space-y-1">
        <label
          id="headlessui-listbox-label-1"
          data-headlessui-state=""
          class="xl:text-sm text-xs text-gray-600"
          >Sắp xếp theo</label
        >
        <button
          type="button"
          [ngClass]="{
            'outline outline-primary-100': selectOptions.sorts.isShow,
            'hover:outline hover:outline-primary-100':
              !selectOptions.sorts.isShow
          }"
          class="w-full grid grid-cols-[1fr_1rem] px-2 py-1 rounded-md transition-[background-color] outline outline-1 outline-transparent focus:outline-primary font-medium bg-gray-100"
          (click)="
            selectOptions.sorts.isShow = !selectOptions.sorts.isShow;
            selectOptions.status.isShow = false;
            selectOptions.genres.isShow = false
          "
        >
          <span class="text-left truncate font-semibold" title="None">{{
            selectOptions.sorts.name
          }}</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 my-auto text-gray-500"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 9l4-4l4 4m0 6l-4 4l-4-4"
            ></path>
          </svg>
        </button>
        <ul
          id="listbox-options-3"
          [ngClass]="{
            hidden: !selectOptions.sorts.isShow
          }"
          role="listbox"
          tabindex="0"
          data-headlessui-state="open"
          class="absolute border w-full max-h-64 xl:max-h-[32rem] overflow-y-auto z-50 left-0 rounded-md shadow-2xl shadow-black/50 py-1 focus:outline-none top-full bg-white border-accent-10"
        >
          <li
            *ngFor="let sort of dataView.sorts"
            (click)="
              OnFilterChange({
                option: 'sorts',
                data: sort
              })
            "
            class="grid  grid-cols-[0.75rem_1fr] py-1 cursor-pointer transition-[color]  mx-2 rounded-md my-1  {{
              sort.selected === true
                ? 'text-primary-100   hover:bg-primary-100 hover:border-white hover:text-white'
                : 'hover:bg-gray-200 hover:text-secondary-100'
            }}"
            id="headlessui-listbox-option-353"
            role="option"
            tabindex="-1"
            data-headlessui-state=""
          >
            <div
              class="h-3 w-[2px] rounded-full my-auto transition-[background-color] bg-transparent"
            ></div>

            <span class="truncate">
              <label class="custom-radio flex items-center cursor-pointer">
                <input
                  type="radio"
                  [checked]="sort.selected"
                  class="hidden"
                  aria-hidden="true"
                />
                <span
                  class="custom-radio-indicator w-3 h-3 border rounded-full mr-2 transition-colors
                    {{
                    sort.selected
                      ? 'border-white bg-primary-100'
                      : 'border-gray-400'
                  }}"
                ></span>
                {{ sort.name }}
              </label>
            </span>
          </li>
        </ul>
      </div>

      <div class="relative space-y-1">
        <label class="text-midTone xl:text-sm text-xs text-gray-600"
          >Thể loại </label
        ><button
          class="w-full grid grid-cols-[1fr_1rem] px-2 py-1 rounded-md transition-[background-color,outline-color] outline outline-1 outline-transparent focus:outline-primary font-medium bg-gray-100"
          type="button"
          [ngClass]="{
            'outline outline-primary-100': selectOptions.genres.isShow,
            'hover:outline hover:outline-primary-100':
              !selectOptions.genres.isShow
          }"
          (click)="
            selectOptions.genres.isShow = !selectOptions.genres.isShow;
            selectOptions.sorts.isShow = false;
            selectOptions.status.isShow = false
          "
        >
          @if (getGenreKeys().length > 0) {
            <p class="font-semibold line-clamp-1 text-left">
              {{ getJoinedGenreNames() }}
            </p>
          } @else {
            <span class="truncate text-left font-semibold">Thể loại</span>
          }

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 my-auto text-gray-500"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 9l4-4l4 4m0 6l-4 4l-4-4"
            ></path>
          </svg>
        </button>
        <div
          [ngClass]="{ hidden: !selectOptions.genres.isShow }"
          class="absolute top-full left-0 group-hover:flex bg-white z-20 text-black shadow-sm"
        >
          <app-genre-catagories
            [routerLinkGenres]="false"
            [listGenres]="listGenres"
            (clickGenres)="OnGenresChange($event)"
            [statusGenres]="this.selectOptions.genres.value"
          ></app-genre-catagories>
        </div>
      </div>

      <div
        hidden=""
        style="
          position: fixed;
          height: 0px;
          padding: 0px;
          overflow: hidden;
          clip: rect(0px, 0px, 0px, 0px);
          white-space: nowrap;
          border-width: 0px;
          display: none;
        "
      ></div>

      <label class="truncate xl:text-base text-sm relative space-y-1 grid">
        <span class="text-gray-600 xl:text-sm text-xs" title="Publication year"
          >Năm phát hành</span
        >
        <div
          class="grid grid-cols-[1fr_3rem] gap-2 rounded-md outline outline-0 outline-transparent bg-gray-100 pointer-events-none"
        >
          <input
            class="font-semibold px-2 py-[0.3rem] bg-gray-100 rounded-md text-color outline-none outline-1 -outline-offset-1 transition-[outline-color] w-full pointer-events-auto placeholder:text-color focus:outline-primary"
            type="number"
            required
            minlength="4"
            maxlength="4"
            min="1900"
            max="4000"
            [ngClass]="{
              'outline outline-primary-100': selectOptions.year.isShow,
              'hover:outline hover:outline-primary-100':
                !selectOptions.year.isShow
            }"
            [(ngModel)]="selectOptions.year.value"
            (ngModelChange)="OnYearChange(0)"
            inputmode="numeric"
            placeholder="Năm phát hành"
          />

          <div class="flex my-auto gap-2 pointer-events-auto mr-2">
            <svg
              data-input-counter-increment="quantity-input"
              data-v-5cba5096=""
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="feather feather-minus icon small text-icon-contrast text-undefined hover:text-primary cursor-pointer"
              viewBox="0 0 24 24"
              (click)="OnYearChange(-1)"
            >
              <path d="M5 12h14"></path>
            </svg>

            <svg
              data-v-5cba5096=""
              data-v-eb114e73=""
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="feather feather-plus icon small text-icon-contrast text-undefined hover:text-primary cursor-pointer"
              viewBox="0 0 24 24"
              (click)="OnYearChange(+1)"
            >
              <path d="M12 5v14m-7-7h14"></path>
            </svg>
          </div>
        </div>
      </label>
      <div class="relative space-y-1 grid">
        <label class="text-gray-600 truncate xl:text-base text-sm"
          ><span title="Publication Status " class="xl:text-sm text-xs"
            >Trạng thái</span
          ></label
        >
        <button
          id="headlessui-listbox-button-25"
          [ngClass]="{
            'outline outline-primary-100': selectOptions.status.isShow,
            'hover:outline hover:outline-primary-100':
              !selectOptions.status.isShow
          }"
          type="button"
          (click)="
            selectOptions.status.isShow = !selectOptions.status.isShow;
            selectOptions.sorts.isShow = false;
            selectOptions.genres.isShow = false
          "
          class="w-full grid grid-cols-[1fr_1rem] px-2 py-1 rounded-md transition-[background-color] outline outline-1 outline-transparent focus:outline-primary font-medium bg-gray-100"
        >
          <span class="text-left truncate font-semibold">{{
            selectOptions.status.name
          }}</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 my-auto text-gray-500"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 9l4-4l4 4m0 6l-4 4l-4-4"
            ></path>
          </svg>
        </button>
        <ul
          [hidden]="!selectOptions.status.isShow"
          data-headlessui-state="open"
          class="absolute border w-full max-h-64 xl:max-h-[32rem] overflow-y-auto z-50 left-0 rounded-md shadow-2xl shadow-black/50 py-1 focus:outline-none top-full bg-white border-accent-10"
        >
          <li
            *ngFor="let status of dataView.status"
            (click)="
              OnFilterChange({
                option: 'status',
                data: status
              })
            "
            id="headlessui-listbox-option-386"
            role="option"
            tabindex="-1"
            aria-selected="false"
            data-headlessui-state=""
            class="grid grid-flow-col auto-cols-max cursor-pointer text-left truncate mx-2 py-1 my-1 rounded-md
            {{
              status.selected === true
                ? 'text-primary-100  border-primary-100  hover:bg-primary-100 hover:text-white'
                : 'hover:bg-gray-200 hover:text-secondary-100'
            }}"
          >
            <div
              class="h-3 w-[6px] rounded-full my-auto transition-[background-color] bg-transparent"
            ></div>
            <span class="truncate">
              <label class="custom-radio flex items-center cursor-pointer">
                <input
                  type="radio"
                  [checked]="status.selected"
                  class="hidden"
                  aria-hidden="true"
                />
                <span
                  class="custom-radio-indicator w-3 h-3 border rounded-full mr-2 transition-colors
                  {{
                    status.selected
                      ? 'border-white bg-primary-100 '
                      : 'border-gray-400'
                  }}"
                ></span>
                {{ status.name }}
              </label>
            </span>
          </li>
        </ul>
        <!---->
      </div>
    </div>
    <div class="w-full flex justify-end">
      <button
        class="bg-primary-100 hover:rounded-xl transition-all ease-in text-white font-bold py-2 px-4 rounded flex items-center mx-2"
        (click)="
          ClickSearch();
          selectOptions.genres.isShow = false;
          selectOptions.sorts.isShow = false;
          selectOptions.status.isShow = false
        "
      >
        <svg
          class="h-6 w-6 mr-2"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" />
          <circle cx="10" cy="10" r="7" />
          <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
        <span>Tìm kiếm</span>
        <!-- <svg
          class="h-6 w-6"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="13 17 18 12 13 7" />
          <polyline points="6 17 11 12 6 7" />
        </svg> -->
      </button>
    </div>
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-4 gap-4" id="listComic">
    <div id="comics" class="col-span-1 xl:col-span-3 row-start-1">
      <grid-comic
        [listComics]="listComics"
        [num_preview]="40"
        [_title]="
          '(' + (totalpage - 1) * 40 + listComics.length + ') kết quả tìm kiếm'
        "
        [_class]="
          'grid gap-[12px] grid-cols-2 sm:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6'
        "
      >
      </grid-comic>
    </div>
    <div class="col-span-1">
      <app-top-list class="mt-5 block"></app-top-list>
    </div>
  </div>

  <pagination-component
    (OnChange)="OnChangePage($event)"
    [currentPage]="currentPage"
    [totalpage]="totalpage"
  >
  </pagination-component>
</div>
