<div id="content" class="md:container w-full mx-auto">
  <div
    class="flex h-[36px] mt-3 flex-row justify-between gap-6 bg-dark-bg dark:bg-black rounded-t"
  >
    <div class="min-w-32 flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="text-white h-6 w-6 ml-2"
        viewBox="0 0 32 32"
        id="icon"
      >
        <defs>
          <style>
            .cls-1 {
              fill: none;
            }
          </style>
        </defs>
        <title>recommend</title>
        <path
          d="M16,2a9,9,0,0,0-6,15.69V30l6-4,6,4V17.69A9,9,0,0,0,16,2Zm4,24.26-2.89-1.92L16,23.6l-1.11.74L12,26.26V19.05a8.88,8.88,0,0,0,8,0ZM20.89,16A7,7,0,1,1,23,11,7,7,0,0,1,20.89,16Z"
        />
        <rect
          id="_Transparent_Rectangle_"
          data-name="&lt;Transparent Rectangle&gt;"
          class="cls-1"
          width="32"
          height="32"
        />
      </svg>
      <h4 class="text-lg grid-nav text-white font-semibold">Truyện đề cử</h4>
    </div>
  </div>
  <app-carousel-landing
    class="mt-0 mb-0 flex w-full h-full pb-48 xs:pb-56 sm:pd-60 md:pb-72 lg:pb-[25%] relative"
  >
  </app-carousel-landing>
  <!-- <app-carousel-layout></app-carousel-layout> -->

  <div class="grid grid-cols-1 xl:grid-cols-4 gap-4">
    <div
      id="comics"
      class="col-span-1 xl:col-span-3 row-start-2 xl:row-start-1"
    >
      <grid-comic
        [listComics]="listComics"
        [num_preview]="30"
        [_title]="'Mới cập nhật'"
        [_class]="
          'grid gap-[12px] grid-cols-2 sm:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6'
        "
      >
      </grid-comic>
    </div>
    <div class="col-span-1">
      <recent-read-component></recent-read-component>
      <app-top-list class="mt-5 block"></app-top-list>
    </div>
  </div>
  <pagination-component
    (OnChange)="OnChangePage($event)"
    [currentPage]="currentPage"
    [totalpage]="totalpage"
  >
  </pagination-component>
</div>
