<div id="content" class="container w-full mx-auto">
  <div
    class="flex h-[40px] mt-3 mb-2 flex-row justify-between gap-6 bg-slate-200"
  >
    <div class="grid-nav min-w-32">
      <h4 class="text-lg text-white font-semibold">Truyện đề cử</h4>
    </div>
  </div>
  <app-carousel-landing
    class="mt-0 mb-0 flex w-full h-full md:pb-[35%] lg:pb-[30%] xl:pb-[25%] relative"
    [dataSlide]="listTopComics"
  ></app-carousel-landing>
  <!-- <app-carousel-layout></app-carousel-layout> -->

  <div class="flex flex-col-reverse lg:flex-row">
    <div id="comics" class="basis-9/12">
      <grid-comic
        [listComics]="listComics"
        [num_preview]="30"
        [_title]="'Mới cập nhật'"
        [_class]="
          'grid gap-[12px] grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6'
        "
      >
      </grid-comic>
    </div>

    <div class="basis-3/12 lg:ml-5">
      <recent-read-component></recent-read-component>
      <app-top-list class="mt-5 block"></app-top-list>
    </div>
  </div>
  <pagination-component
    (OnChange)="OnChangePage($event)"
    [currentPage]="currentPage"
    [totalpage]="totalpage"
  >
  </pagination-component>
</div>
