<div
  class="border border-accent-10 w-full md:w-[30rem] lg:w-[42rem] xl:w-[44rem] 2xl:w-[50rem] 3xl:w-[64rem] max-h-96 lg:max-h-[32rem] overflow-y-auto py-2 px-4 z-50 bg-accent rounded-md shadow-2xl shadow-black/50 space-y-4 transition-transform top-full"
  id="headlessui-popover-panel-6"
  tabindex="-1"
  data-headlessui-state="open"
  style="right: 0px"
>
  <p class="text-midTone text-sm italic font-semibold flex">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      class="feather feather-info icon small text-icon-contrast text-undefined"
      viewBox="0 0 24 24"
    >
      <circle cx="12" cy="12" r="10"></circle>
      <path d="M12 16v-4m0-4h.01"></path>
    </svg>
    <span class="ml-2 not-italic">Danh sách theo tên thể loại</span>
  </p>
  <div class="space-y-1">
    <div class="flex gap-2 items-center">
      <span class="capitalize text-lg select-none">Theo các nước</span>
      <hr class="border-1 my-4 border-accent-20 flex-grow" />
    </div>
    <ul
      class="flex gap-2 flex-wrap"
      itemscope=""
      itemtype="http://www.schema.org/SiteNavigationElement"
    >
      <li
        *ngFor="let genre of filteredCatagoriesGenre.get('countries')"
        class="hover:border-primary-100 cursor-pointer rounded-md px-1 flex items-center gap-1 text-secondary-100 bg-background border-dashed border"
        [ngClass]="{
          'text-black hover:text-primary-100': !statusGenres[genre.id],
          'text-[#FFFFFF]   hover:border-black bg-[#F86E4C] hover:text-[#FFFFFF] ':
            statusGenres[genre.id] == 1,
          'text-white bg-[#000000] hover:text-white':
            statusGenres[genre.id] == 2
        }"
      >
        <div
          [routerLink]="routerLinkGenres ? ['tim-truyen'] : null"
          [queryParams]="routerLinkGenres ? { genres: genre.id } : null"
          (click)="clickGenre(genre.id)"
          class="px-1 my-auto text-center"
        >
          <span class="my-auto select-none text-xs relative bottom-[1px]">{{
            genre.title
          }}</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="space-y-1">
    <div class="flex gap-2 items-center">
      <span class="capitalize text-lg select-none">Thể loại</span>
      <hr class="border-1 my-4 border-accent-20 flex-grow" />
    </div>
    <ul
      class="flex gap-2 flex-wrap"
      itemscope=""
      itemtype="http://www.schema.org/SiteNavigationElement"
    >
      <li
        *ngFor="let genre of filteredCatagoriesGenre.get('genreCommon')"
        class="hover:border-primary-100 cursor-pointer rounded-md px-1 flex items-center gap-1 text-secondary-100 bg-background border-dashed border"
        [ngClass]="{
          'text-[#FFFFFF]   hover:border-black bg-[#F86E4C] hover:text-[#FFFFFF] ':
            statusGenres[genre.id] == 1,
          'text-black hover:text-primary-100': !statusGenres[genre.id],
          'text-white bg-[#000000] hover:text-white':
            statusGenres[genre.id] == 2
        }"
      >
        <div
          [routerLink]="routerLinkGenres ? ['tim-truyen'] : null"
          [queryParams]="routerLinkGenres ? { genres: genre.id } : null"
          (click)="clickGenre(genre.id)"
          class="px-1 my-auto text-center"
        >
          <span class="my-auto select-none text-xs relative bottom-[1px]">{{
            genre.title
          }}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="space-y-1"></div>
</div>
