<div id="content" class="container mx-auto mt-10">
  <div class="grid gap-2 md:grid-cols-[1fr_12rem]">
    <!-- Search Form -->
    <form class="md-inputwrap" action="/titles" method="GET">
      <input
        class="placeholder-current bg-gray-200 w-full h-10 rounded-sm px-4"
        type="search"
        placeholder="Search"
        title="Search"
      />
      <!-- <div class="md-search-icon relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
          class="icon text-icon-contrast text-undefined">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11 19a8 8 0 1 0 0-16 8 8 0 0 0 0 16m10 2-4.35-4.35"></path>
        </svg>
      </div> -->
      <div class="border-1 border-gray-300"></div>
    </form>

    <!-- Show Filters Button -->
    <button
      (click)="toggleFilters()"
      class="rounded custom-opacity relative md-btn flex items-center overflow-hidden accent bg-amber-500 text-white"
      style="min-height: 2.5rem; min-width: 100%"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-chevron-down icon mr-4"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path
            [attr.d]="showFilters ? 'm18 15-6-6-6 6' : 'm6 9 6 6 6-6'"
          ></path>
        </svg>
        {{ showFilters ? "Ẩn bộ lọc" : "Thêm bộ lọc" }}
      </span>
    </button>
  </div>

  <!-- Filter Options -->
  <div
    [ngClass]="{ hidden: !showFilters }"
    class="expander grid grid-rows-[1fr_0fr]"
  >
    <div
      class="md:grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 3xl:grid-cols-5 gap-8 my-4"
    >
      <div class="relative space-y-1">
        <!----><label
          id="headlessui-listbox-label-1"
          data-headlessui-state=""
          class="text-midTone xl:text-base text-sm"
          >Sắp xếp theo</label
        >
        <button
          id="headlessui-listbox-button-2"
          type="button"
          aria-haspopup="listbox"
          aria-expanded="false"
          data-headlessui-state=""
          class="w-full grid grid-cols-[1fr_1rem] px-2 py-1 rounded-md transition-[background-color] outline outline-1 outline-transparent focus:outline-primary font-medium bg-accent"
          (click)="showFiltersOptions1 = !showFiltersOptions1"
        >
          <span class="text-left truncate" title="None">None</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 my-auto text-midTone"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 9l4-4l4 4m0 6l-4 4l-4-4"
            ></path>
          </svg></button
        ><!---->
        <ul
          [ngClass]="{ hidden: !showFiltersOptions1 }"
          id="listbox-options-3"
          aria-labelledby="headlessui-listbox-button-2"
          aria-orientation="vertical"
          role="listbox"
          tabindex="0"
          data-headlessui-state="open"
          class="absolute border w-full max-h-64 xl:max-h-[32rem] overflow-y-auto z-50 left-0 rounded-md shadow-2xl shadow-black/50 py-1 focus:outline-none top-full bg-white border-accent-10"
        >
          <li
            *ngFor="let s of dataView.sorts"
            (click)="OnSortTypeChange(s.Type)"
            class="grid gap-2 grid-cols-[0.75rem_1fr] py-1 cursor-pointer transition-[color] text-midTone"
            id="headlessui-listbox-option-353"
            role="option"
            tabindex="-1"
            aria-selected="false"
            data-headlessui-state=""
          >
            <div
              class="h-3 w-[2px] rounded-full my-auto transition-[background-color] bg-transparent"
            ></div>
            <span class="truncate">{{ s.Name }} </span>
          </li>
        </ul>
      </div>
      <div class="relative space-y-1" mode="AND" data-headlessui-state="">
        <label data-v-b3f56003="" class="text-midTone xl:text-base text-sm"
          >Thể loại </label
        ><button
          class="w-full grid grid-cols-[1fr_1rem] px-2 py-1 rounded-md transition-[background-color,outline-color] outline outline-1 outline-transparent focus:outline-primary font-medium bg-accent"
          title="Include any"
          id="headlessui-popover-button-4"
          type="button"
          aria-expanded="false"
          data-headlessui-state=""
        >
          <span data-v-b3f56003="" class="truncate text-left">Include any</span
          ><svg
            data-v-b3f56003=""
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 my-auto text-midTone"
            viewBox="0 0 24 24"
          >
            <path
              data-v-b3f56003=""
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 9l4-4l4 4m0 6l-4 4l-4-4"
            ></path>
          </svg></button
        ><!----><!---->
      </div>
      <div
        hidden=""
        style="
          position: fixed;
          height: 0px;
          padding: 0px;
          overflow: hidden;
          clip: rect(0px, 0px, 0px, 0px);
          white-space: nowrap;
          border-width: 0px;
          display: none;
        "
      ></div>
      <div class="relative space-y-1 grid">
        <!----><label
          id="headlessui-listbox-label-9"
          data-headlessui-state=""
          class="text-midTone truncate xl:text-base text-sm"
          ><span title="Content Rating"> Top</span
          ><!----></label
        ><button
          id="headlessui-listbox-button-10"
          type="button"
          aria-haspopup="listbox"
          aria-expanded="false"
          data-headlessui-state=""
          class="w-full grid grid-cols-[1fr_1rem] px-2 py-1 rounded-md transition-[background-color] outline outline-1 outline-transparent focus:outline-primary font-medium bg-accent"
          aria-labelledby="headlessui-listbox-label-9 headlessui-listbox-button-10"
        >
          <span class="text-left truncate">Any</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 my-auto text-midTone"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 9l4-4l4 4m0 6l-4 4l-4-4"
            ></path>
          </svg></button
        ><!---->
      </div>
      <div
        class="relative space-y-1 grid"
        disablefilter="true"
        data-headlessui-state=""
      >
        <!----><label
          id="headlessui-listbox-label-15"
          data-headlessui-state=""
          class="text-midTone truncate xl:text-base text-sm"
          ><span title="Authors">Tác giả</span
          ><!----></label
        ><button
          id="headlessui-listbox-button-16"
          type="button"
          aria-haspopup="listbox"
          aria-expanded="false"
          data-headlessui-state=""
          class="w-full grid grid-cols-[1fr_1rem] px-2 py-1 rounded-md transition-[background-color] outline outline-1 outline-transparent focus:outline-primary font-medium bg-accent"
          aria-labelledby="headlessui-listbox-label-15 headlessui-listbox-button-16"
        >
          <span class="text-left truncate">Any<!----></span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 my-auto text-midTone"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 9l4-4l4 4m0 6l-4 4l-4-4"
            ></path>
          </svg></button
        ><!---->
      </div>
      <label
        data-v-eb114e73=""
        class="text-midTone truncate xl:text-base text-sm relative space-y-1 grid"
        ><span data-v-eb114e73="" title="Publication year">Năm phát hành</span>
        <div
          data-v-eb114e73=""
          class="grid grid-cols-[1fr_3rem] gap-2 rounded-md outline outline-0 outline-transparent bg-accent pointer-events-none"
        >
          <input
            data-v-eb114e73=""
            class="px-2 py-[0.3rem] bg-accent rounded-md text-color outline-none outline-1 -outline-offset-1 transition-[outline-color] w-full font-medium pointer-events-auto placeholder:text-color focus:outline-primary"
            type="number"
            min="0"
            inputmode="numeric"
            placeholder="Any"
          /><!---->
          <div
            data-v-eb114e73=""
            class="flex my-auto gap-2 pointer-events-auto"
          >
            <svg
              data-v-5cba5096=""
              data-v-eb114e73=""
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="feather feather-minus icon small text-icon-contrast text-undefined hover:text-primary cursor-pointer"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14"></path></svg
            ><svg
              data-v-5cba5096=""
              data-v-eb114e73=""
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="feather feather-plus icon small text-icon-contrast text-undefined hover:text-primary cursor-pointer"
              viewBox="0 0 24 24"
            >
              <path d="M12 5v14m-7-7h14"></path>
            </svg>
          </div>
        </div>
      </label>
      <div class="relative space-y-1 grid">
        <!----><label
          id="headlessui-listbox-label-24"
          data-headlessui-state=""
          class="text-midTone truncate xl:text-base text-sm"
          ><span title="Publication Status">Trạng thái</span
          ><!----></label
        >
        <button
          id="headlessui-listbox-button-25"
          type="button"
          (click)="showFiltersOptions2 = !showFiltersOptions2"
          class="w-full grid grid-cols-[1fr_1rem] px-2 py-1 rounded-md transition-[background-color] outline outline-1 outline-transparent focus:outline-primary font-medium bg-accent"
        >
          <span class="text-left truncate">Any</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5 my-auto text-midTone"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m8 9l4-4l4 4m0 6l-4 4l-4-4"
            ></path>
          </svg>
        </button>
        <ul
          data-v-5658a12f=""
          id="headlessui-listbox-options-26"
          aria-multiselectable="true"
          aria-labelledby="headlessui-listbox-button-25"
          aria-orientation="vertical"
          role="listbox"
          tabindex="0"
          [hidden]="!showFiltersOptions2"
          data-headlessui-state="open"
          class="absolute w-full max-h-64 xl:max-h-[32rem] overflow-y-auto z-50 rounded-md shadow-xl bg-accent py-1 focus:outline-none border border-accent-10 top-full"
        >
          <!---->
          <li
            *ngFor="let s of dataView.status"
            (click)="OnStatusChange(s.Status)"
            id="headlessui-listbox-option-386"
            role="option"
            tabindex="-1"
            aria-selected="false"
            data-headlessui-state=""
          >
            <div
              class="grid gap-2 grid-cols-[0.75rem_1fr] py-1 px-2 cursor-pointer transition-[color] text-midTone bg-white"
            >
              <div
                class="my-auto w-3 h-3 border transition-[border-color,background-color] rounded-full border-midTone"
              ></div>
              <span class="select-none truncate">{{ s.Name }}</span>
            </div>
          </li>
        </ul>
        <!---->
      </div>
      <div class="relative space-y-1 grid">
        <select
          class="appearance-none row-start-1 col-start-1 bg-slate-50 dark:bg-slate-800 ..."
        >
          <option>Yes</option>
          <option>No</option>
          <option>Maybe</option>
        </select>
      </div>
    </div>
  </div>

  <div class="inline-flex items-center my-1">
    <div class="mr-2 min-w-32">
      <p>Trạng Thái:</p>
    </div>
    <div class="inline-flex items-center">
      <button
        *ngFor="let s of dataView.status"
        (click)="OnStatusChange(s.Status)"
        class="text-gray-500 mx-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex space-x-1 items-center"
      >
        <span class="hidden md:inline-block">{{ s.Name }} </span>
      </button>
    </div>
  </div>
  <div class="flex my-2">
    <div class="mr-2 min-w-32">
      <p>Sắp xếp theo</p>
    </div>
    <div class="grid xl:grid-cols-6 md:grid-cols-4">
      <button
        *ngFor="let s of dataView.sorts"
        (click)="OnSortTypeChange(s.Type)"
        class="text-slate-800 mx-1 my-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex items-center"
      >
        <span class="hidden md:inline-block">{{ s.Name }} </span>
      </button>
    </div>
  </div>
  <div class="flex flex-row">
    <div class="basis-9/12">
      <grid-comic
        [listComics]="listComics"
        [num_preview]="40"
        [_title]="'Kết quả tìm kiếm'"
        [_class]="
          'grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6'
        "
      >
      </grid-comic>
    </div>

    <div class="basis-3/12 animate-pulse ml-4 bg-slate-300"></div>
  </div>

  <pagination-component [totalpage]="totalpage"> </pagination-component>
</div>
