<div class="inline-flex items-center my-1">
  <div class="mr-2 min-w-32"><p>Trạng Thái:</p></div>
  <div class="inline-flex items-center">
    <button
      class="text-slate-800 mx-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex space-x-1 items-center"
    >
      <span class="hidden md:inline-block">Tất cả </span>
    </button>
    <button
      class="text-slate-800 mx-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex space-x-1 items-center"
    >
      <span class="hidden md:inline-block">Hoàn thành</span>
    </button>
    <button
      class="text-slate-800 mx-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex space-x-1 items-center"
    >
      <span class="hidden md:inline-block">Đang ra</span>
    </button>
  </div>
</div>
<div class="flex my-2">
  <div class="mr-2 min-w-32"><p>Sắp xếp theo</p></div>
  <div class="grid xl:grid-cols-6 md:grid-cols-4">
    <button
      value="0"
      (click)="OnSearchChange($event)"
      class="text-slate-800 mx-1 my-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex items-center"
    >
      <span class="hidden md:inline-block">Ngày cập nhật</span>
    </button>
    <button
      class="text-slate-800 mx-1 my-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex items-center"
    >
      <span class="hidden md:inline-block">Truyện mới</span>
    </button>
    <button
      class="text-slate-800 mx-1 my-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex items-center"
    >
      <span class="hidden md:inline-block">Top all</span>
    </button>
    <button
      class="text-slate-800 mx-1 my-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex items-center"
    >
      <span class="hidden md:inline-block">Số chapter</span>
    </button>
    <button
      class="text-slate-800 mx-1 my-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex items-center"
    >
      <span class="hidden md:inline-block">Theo dõi</span>
    </button>
    <button
      class="text-slate-800 mx-1 my-1 hover:text-blue-600 text-sm bg-white hover:bg-slate-100 border border-slate-200 rounded font-medium px-4 py-2 inline-flex items-center"
    >
      <span class="hidden md:inline-block">Đánh giá</span>
    </button>
  </div>
</div>
