<div class="-mt-4">
  <div class="">
    <a href="/titles?q=r&amp;page=1" class="flex items-center my-4">
      <div class="font-bold text-xl flex-grow">Truyện tranh</div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="feather feather-arrow-right icon text-icon-contrast text-undefined"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14m-7-7 7 7-7 7"></path>
      </svg>
    </a>
    <section class="bg-gray-100">
      <div
        *ngFor="let comic of listSearch"
        class="rounded bg-white shadow-lg mb-2"
      >
        <div class="px-2 py-1">
          <!-- <ul class="-my-8"> -->
          <div
            class="flex flex-col space-y-3 py-1 text-left sm:flex-row sm:space-x-5 sm:space-y-0"
          >
            <div class="shrink-0 relative">
              <img
                class="h-24 w-18 max-w-full rounded-lg object-cover"
                src="{{ comic.coverImage }}"
                alt=""
              />
            </div>

            <div class="relative flex flex-1 flex-col justify-between">
              <div class="pr-8 sm:pr-5">
                <p class="text-base font-semibold text-gray-900">
                  {{ comic.title }}
                </p>
                <p class="mx-0 mt-1 mb-0 text-sm text-gray-400">36EU - 4US</p>
              </div>
              <!-- </div> -->
            </div>
          </div>
          <!-- </ul> -->
        </div>
      </div>
    </section>
  </div>
</div>
