<div id="content" class="container mx-auto">
  <!-- <app-carousel-layout></app-carousel-layout> -->

  <app-carousel-landing></app-carousel-landing>
  <div>
    <h1 class="text-2xl font-bold mb-4">Truyện mới cập nhật</h1>
  </div>
  <ng-container *ngIf="isLoading; else content">
    <app-list-card-skeleton></app-list-card-skeleton>
  </ng-container>

  <ng-template #content>
    <div
      class="grid gap-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6"
    >
      <ng-container *ngFor="let comic of listComics">
        <div ngxMasonryItem class="masonry-item">
          <app-comic-card [comic]="comic"></app-comic-card>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <pagination-component [totalpage]="totalpage"> </pagination-component>8
</div>
