<div class="container flex items-center font-bold text-base mt-3">
  <span><a routerLink="/"> Trang chủ </a> </span>
  <span class="mx-2"
    ><svg
      class="h-6 w-6"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="9 18 15 12 9 6" />
    </svg>
  </span>
  <span><a> Truyện tranh </a></span>
  <span class="mx-2">
    <svg
      class="h-6 w-6"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="9 18 15 12 9 6" />
    </svg>
  </span>
  @if(comic) {
  <span>{{ comic.title }}</span>
  }
</div>
<button
  class="fixed bottom-0 right-0 z-40 mr-4 mb-4"
  (click)="ToggleMenu(true)"
>
  <svg
    class="w-6 h-6 text-gray-800 dark:text-white"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 20 20"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 12.25V1m0 11.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M4 19v-2.25m6-13.5V1m0 2.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M10 19V7.75m6 4.5V1m0 11.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM16 19v-2"
    ></path>
  </svg>
</button>
<div
  #MenuNavigation
  class="fixed transition-transform translate-x-full px-2.5 py-2 right-0 top-0 bottom-0 w-72 h-screen bg-gray-50 shadow-md shadow-slate-300"
>
  <!---->

  <div class="flex flex-col gap-y-2 mb-2 md:mb-4">
    <div class="flex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="feather feather-book-open icon text-icon-contrast text-undefined mr-4 my-auto"
        viewBox="0 0 24 24"
      >
        <path
          d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2zm20 0h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"
        ></path></svg
      ><a
        href="/truyen-tranh/{{ comic.url }}"
        class="flex items-center text-primary break-words"
        title=""
        >{{ comic.title }}</a
      >
    </div>
    <div class="flex items-center break-words">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        class="icon text-icon-contrast text-undefined mr-4"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"
        ></path>
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 2v7h7"
        ></path>
      </svg>
      {{ mainChapter.title }}
    </div>
  </div>
  <div class="flex mb-1">
    <button
      class="rounded bg-gray-200 custom-opacity relative md-btn flex items-center overflow-hidden accent"
      style="min-height: 3rem; min-width: 2rem"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-chevron-left icon"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path d="m14.25 18-6-6 6-6"></path></svg
      ></span>
    </button>
    <div class="mx-2 flex-grow">
      <div class="relative">
        <label
          class="absolute pointer-events-none opacity-90 z-[3] text-xs left-4 top-2"
          >Page</label
        >
        <div
          class="relative z-[2] pt-6 pb-1 px-4 bg-accent cursor-pointer select-none rounded-md trnasition duration-75 border border-transparent"
        >
          <span>1</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="feather feather-chevron-down icon text-icon-contrast text-undefined chevron absolute right-4 top-3 transition-transform duration-150"
            viewBox="0 0 24 24"
            style="transform: rotate(0deg)"
          >
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </div>
        <div
          class="absolute z-50 transition duration-150 top-14 rounded-md shadow-lg left-0 w-full overflow-auto bg-accent pointer-events-none opacity-0 -translate-y-2"
        >
          <ul class="my-2 mx-1">
            <li>
              <!---->
              <ul>
                <li
                  class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-primary text-white"
                  data-value="0"
                >
                  1
                </li>
                <li
                  class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
                  data-value="1"
                >
                  2
                </li>
                <li
                  class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
                  data-value="2"
                >
                  3
                </li>
                <li
                  class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
                  data-value="3"
                >
                  4
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button
      class="rounded custom-opacity relative md-btn flex items-center bg-gray-200 overflow-hidden accent"
      style="min-height: 3rem; min-width: 2rem"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-chevron-right icon"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path d="m10 18 6-6-6-6"></path></svg
      ></span>
    </button>
  </div>
  <div class="flex" id="chapter-selector">
    <a
      href="/chapter/25d5538b-251a-460b-9d26-dd07dc145dc2"
      rel="noopener nofollow noreferrer"
      class="bg-gray-200 rounded custom-opacity relative md-btn flex items-center overflow-hidden accent"
      style="min-height: 3rem; min-width: 2rem"
      ><span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-chevron-left icon"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path d="m14.25 18-6-6 6-6"></path></svg></span
    ></a>
    <div class="mr-2 ml-2 flex-grow">
      <div class="relative">
        <label
          class="absolute pointer-events-none opacity-90 z-[3] text-xs left-4 top-2"
          >Chapter</label
        >
        <div
          class="relative z-[2] pt-6 pb-1 px-4 bg-accent cursor-pointer select-none rounded-md trnasition duration-75 border border-transparent"
        >
          <span>Chapter 9</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="feather feather-chevron-down icon text-icon-contrast text-undefined chevron absolute right-4 top-3 transition-transform duration-150"
            viewBox="0 0 24 24"
            style="transform: rotate(0deg)"
          >
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </div>
        <div
          class="absolute z-50 transition duration-150 rounded-md shadow-lg left-0 w-full overflow-auto bg-slate-300 pointer-events-none opacity-1 -translate-y-2"
        >
          <ul>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 5
            </li>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 4
            </li>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 3
            </li>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 2
            </li>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 1
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a
      href="/chapter/7bcbabc3-ea11-4f89-8a65-3e19b3ecc2e3"
      rel="noopener nofollow noreferrer"
      class="rounded custom-opacity relative md-btn flex items-center overflow-hidden accent bg-gray-200"
      style="min-height: 3rem; min-width: 2rem"
      ><span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-chevron-right icon"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path d="m10 18 6-6-6-6"></path></svg></span
    ></a>
  </div>

  <hr class="border-1 my-4 border-accent-20 border-dashed border-slate-950" />
  <div class="flex flex-col gap-2">
    <button
      class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4"
      style="min-height: 2.5rem; min-width: 100%"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: start"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          class="icon mr-4"
          style="color: currentcolor"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"
          ></path>
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 2v7h7"
          ></path></svg
        >Single Page</span
      ></button
    ><!---->
    <div class="flex">
      <button
        class="flex-grow mr-2 rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4 flex-grow mr-2"
        style="min-height: 2.5rem; min-width: auto"
      >
        <span
          class="flex relative items-center justify-center font-medium select-none w-full"
          style="pointer-events: none; justify-content: start"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            class="icon mr-4"
            style="color: currentcolor"
          >
            <path
              fill="currentColor"
              d="m9.5 13.09 1.41 1.41-4.5 4.5H10v2H3v-7h2v3.59zm1.41-3.59L9.5 10.91 5 6.41V10H3V3h7v2H6.41zm3.59 3.59 4.5 4.5V14h2v7h-7v-2h3.59l-4.5-4.5zM13.09 9.5l4.5-4.5H14V3h7v7h-2V6.41l-4.5 4.5z"
            ></path></svg
          >Fit Both</span
        ></button
      ><button
        class="rounded custom-opacity relative md-btn flex items-center overflow-hidden accent"
        style="min-height: 2.5rem; min-width: 2.5rem"
      >
        <span
          class="flex relative items-center justify-center font-medium select-none w-full"
          style="pointer-events: none; justify-content: center"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            class="icon"
            style="color: currentcolor"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
            ></path>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 1 1 0-4h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 1 1 2.83-2.83l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 1 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 3.417 1.415 2 2 0 0 1-.587 1.415l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 0 4h-.09a1.65 1.65 0 0 0-1.51 1"
            ></path></svg
        ></span>
      </button>
    </div>
    <button
      class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4"
      style="min-height: 2.5rem; min-width: 100%"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: start"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-arrow-right-circle icon mr-4"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="m12 16 4-4-4-4m-4 4h8"></path></svg
        >Left To Right</span
      ></button
    ><button
      class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4"
      style="min-height: 2.5rem; min-width: 100%"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: start"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          class="icon mr-4"
          style="color: currentcolor"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2"
          ></path></svg
        >Header Hidden</span
      >
    </button>
    <div class="flex">
      <button
        class="flex-grow mr-2 rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4 flex-grow mr-2"
        style="min-height: 2.5rem; min-width: auto"
      >
        <span
          class="flex relative items-center justify-center font-medium select-none w-full"
          style="pointer-events: none; justify-content: start"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="icon mr-4"
            style="color: currentcolor"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 15h16M7 15v-5m10 5v-5M4 9h16"
            ></path></svg
          >Normal Progress</span
        ></button
      ><button
        class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent !px-0"
        style="min-height: 2.5rem; min-width: 2.5rem"
      >
        <span
          class="flex relative items-center justify-center font-medium select-none w-full"
          style="pointer-events: none; justify-content: center"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            class="icon"
            style="color: currentcolor"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
            ></path>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 1 1 0-4h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 1 1 2.83-2.83l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 1 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 3.417 1.415 2 2 0 0 1-.587 1.415l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 0 4h-.09a1.65 1.65 0 0 0-1.51 1"
            ></path></svg
        ></span>
      </button>
    </div>
    <button
      class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4"
      style="min-height: 2.5rem; min-width: 100%"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: start"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          class="icon mr-4"
          style="color: currentcolor"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
          ></path>
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 1 1 0-4h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 1 1 2.83-2.83l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 1 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 3.417 1.415 2 2 0 0 1-.587 1.415l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 0 4h-.09a1.65 1.65 0 0 0-1.51 1"
          ></path>
        </svg>
        Reader Settings
      </span>
    </button>
  </div>
</div>
<div class="" (click)="ToggleMenu(false)">
  <div class="mb-10 bg-white p-5 text-center">
    <h1 class="text-center text-xl">
      <a
        href="/truyen-tranh/toi-se-bi-tru-khu-cung-hoang-de"
        title="{{ comic.title }}"
        class="cursor-pointer text-[#7a6ff1] font-semibold"
        >{{ comic.title }}</a
      ><span
        >&nbsp;-
        <!-- -->{{ mainChapter.title }}</span
      >
    </h1>
    <i>[Đăng lúc: {{ mainChapter.updateAt | date : "HH:mm dd/MM/yyyy " }}]</i>
  </div>

  <div
    class="p-4 bg-[#d9edf7] border border-solid border-[#bce8f1] items-center mb-3 text-[#31708f] rounded-lg flex justify-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="16"
      viewBox="0 0 512 512"
      class="mr-1"
    >
      <path
        fill="#31708f"
        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
      ></path></svg
    ><i>Sử dụng mũi tên trái ( ← ) hoặc phải ( → ) để chuyển chapter</i>
  </div>
  <div id="position-btn"></div>

  <img
    *ngFor="let pageimg of ListChapterImg"
    src="{{ pageimg.url }}"
    alt="banner chapter"
    class="mx-auto"
  />
</div>
