<div class="bg-[#333] min-h-screen">
  <div class="mx-auto container flex flex-col items-center font-bold text-base">
    <div class="bg-white h-10 mb-5 flex items-center w-full">
      <div class="bg-[#699afe] w-10 h-10 flex items-center justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="w-4 h-4"
        >
          <path
            fill="white"
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
          ></path>
        </svg>
      </div>
      <div class="ml-1 text-xs truncate">
        Vui lòng <b>F5</b> hoặc <b>Reload</b> lại trang nếu không tải được ảnh.
      </div>
    </div>
    <div class="mb-10 bg-white p-5 text-center w-full rounded-md">
      <ol
        class="flex pb-10 items-center h-full w-full flex-wrap"
        itemscope=""
        itemtype="https://schema.org/BreadcrumbList"
      >
        <li
          class="flex h-full items-center"
          itemprop="itemListElement"
          itemscope=""
          itemtype="https://schema.org/ListItem"
        >
          <a href="" class="pr-1 hover:underline" aria-label="home"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
              ></path></svg></a
          ><a
            href=""
            class="hover:underline"
            title="Đọc truyện online"
            itemprop="item"
            ><span itemprop="name">Truyện Tranh</span></a
          ><meta itemprop="position" content="1" />
        </li>
        <li
          class="breadcrumb flex"
          itemprop="itemListElement"
          itemscope=""
          itemtype="https://schema.org/ListItem"
        >
          <a
            href=""
            class="hover:underline capitalize"
            title="{{ comic.title }}"
            itemprop="item"
            ><span
              class="block max-w-[250px] lg:max-w-full truncate"
              itemprop="name"
              >{{ comic.title }}</span
            ></a
          ><meta itemprop="position" content="2" />
        </li>
        <li
          class="breadcrumb flex"
          itemprop="itemListElement"
          itemscope=""
          itemtype="https://schema.org/ListItem"
        >
          <a
            href=""
            class="hover:underline capitalize"
            title="{{ mainChapter.title }}"
            itemprop="item"
            ><span
              class="block max-w-[250px] lg:max-w-full truncate"
              itemprop="name"
              >{{ mainChapter.title }}</span
            ></a
          ><meta itemprop="position" content="3" />
        </li>
      </ol>
      <div class="mb-5">
        <h1 class="text-center text-xl">
          <a
            href="/truyen-tranh/thien-tai-bong-da-tien-dao-so-1"
            title="{{ comic.title }}"
            class="cursor-pointer text-[#7a6ff1] font-semibold"
            >{{ comic.title }}</a
          ><span
            >&nbsp;-
            <!-- -->{{ mainChapter.title }}</span
          >
        </h1>
        <i>[Đăng lúc: {{ mainChapter.updateAt | date : " dd/MM/yyyy" }}]</i>
      </div>
      <button
        class="bg-[#f0ad4e] px-3 py-2 rounded-lg flex text-white mx-auto my-5"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="16"
          width="16"
          viewBox="0 0 512 512"
          class="mr-1"
        >
          <path
            fill="white"
            d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
          ></path></svg
        >Báo Lỗi
      </button>
      <div
        class="p-4 bg-[#d9edf7] border border-solid border-[#bce8f1] items-center mb-3 text-[#31708f] rounded-lg flex justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="16"
          width="16"
          viewBox="0 0 512 512"
          class="mr-1"
        >
          <path
            fill="#31708f"
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
          ></path></svg
        ><i>Sử dụng mũi tên trái ( ← ) hoặc phải ( → ) để chuyển chapter</i>
      </div>
      <div id="position-btn"></div>
      <div
        class="flex items-center justify-center top-0 left-0 right-0 z-10 bg-white py-2 px-3 lg:px-0"
        id="group-btn-chapter"
      >
        <a href="" title="Truyện tranh"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 576 512"
            class="w-[24px] h-[24px] mr-3 fill-[#7a6ff1] hover:fill-[#7a6ff1cd]"
          >
            <path
              d="M543.8 287.6c17 0 32-14 32-32.1c1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32H448c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v64 24c0 22.1 17.9 40 40 40h24 32.5c1.4 0 2.8 0 4.2-.1c1.1 .1 2.2 .1 3.3 .1h16c22.1 0 40-17.9 40-40V455.8c.3-2.6 .5-5.3 .5-8.1l-.7-160.2h32z"
            ></path></svg></a
        ><a href="" title="Danh Sách Chapter"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 512 512"
            class="w-[24px] h-[24px] mr-3 fill-[#7a6ff1] hover:fill-[#7a6ff1cd]"
          >
            <path
              d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"
            ></path></svg></a
        ><a href=""
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 256 512"
            class="w-[35px] h-[34px] bg-[#7a6ff1] hover:bg-[#7a6ff1cd] flex justify-center rounded-l-lg hover:opacity-75"
          >
            <path
              fill="white"
              d="M9.4 278.6c-12.5-12.5-12.5-32.8 0-45.3l128-128c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 256c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-128-128z"
            ></path></svg></a
        ><select
          (change)="onChangeChapter($event)"
          class="h-[34px] mx-3 w-[200px] lg:w-[245px] border border-solid border-[#ccc]"
        >
          <option
            *ngFor="let chapter of comic.chapters"
            value="{{ chapter.id }}"
            [selected]="chapter.id == mainChapter.id"
          >
            {{ chapter.title }}
          </option>
        </select>
        <div
          class="w-[35px] h-[34px] bg-[#ccc] flex justify-center rounded-r-lg mr-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="1em"
            viewBox="0 0 256 512"
            class="w-[35px] h-[34px]"
          >
            <path
              fill="white"
              d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="flex-grow min-h-screen mx:0 lg:mx-50">
      <img  loading="lazy" *ngFor="let page of ListChapterImg" class="w-full min-h-96 object-contain" src="{{ page.url }}" alt="{{page.url}}">
    </div>
  </div>
  @if (comic) {
  <comment-component
    [comicId]="comic.id"
    [lastchapterID]="comic.chapters[0].id"
  ></comment-component>
  }
</div>

<button
  class="fixed bottom-0 right-0 z-40 mr-4 mb-4"
  (click)="ToggleMenu(true)"
>
  <svg
    class="w-6 h-6 text-gray-800 dark:text-white"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 20 20"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 12.25V1m0 11.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M4 19v-2.25m6-13.5V1m0 2.25a2.25 2.25 0 0 0 0 4.5m0-4.5a2.25 2.25 0 0 1 0 4.5M10 19V7.75m6 4.5V1m0 11.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM16 19v-2"
    ></path>
  </svg>
</button>
<div
  #MenuNavigation
  class="fixed transition-transform translate-x-full px-2.5 py-2 right-0 top-0 bottom-0 w-72 h-screen bg-gray-50 shadow-md shadow-slate-300"
>
  <!---->

  <div class="flex flex-col gap-y-2 mb-2 md:mb-4">
    <div class="flex">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="feather feather-book-open icon text-icon-contrast text-undefined mr-4 my-auto"
        viewBox="0 0 24 24"
      >
        <path
          d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2zm20 0h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"
        ></path></svg
      ><a
        href="/truyen-tranh/{{ comic.url }}"
        class="flex items-center text-primary break-words"
        title=""
        >{{ comic.title }}</a
      >
    </div>
    <div class="flex items-center break-words">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
        class="icon text-icon-contrast text-undefined mr-4"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"
        ></path>
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 2v7h7"
        ></path>
      </svg>
      {{ mainChapter.title }}
    </div>
  </div>
  <div class="flex mb-1">
    <button
      class="rounded bg-gray-200 custom-opacity relative md-btn flex items-center overflow-hidden accent"
      style="min-height: 3rem; min-width: 2rem"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-chevron-left icon"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path d="m14.25 18-6-6 6-6"></path></svg
      ></span>
    </button>
    <div class="mx-2 flex-grow">
      <div class="relative">
        <label
          class="absolute pointer-events-none opacity-90 z-[3] text-xs left-4 top-2"
          >Page</label
        >
        <div
          class="relative z-[2] pt-6 pb-1 px-4 bg-accent cursor-pointer select-none rounded-md trnasition duration-75 border border-transparent"
        >
          <span>1</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="feather feather-chevron-down icon text-icon-contrast text-undefined chevron absolute right-4 top-3 transition-transform duration-150"
            viewBox="0 0 24 24"
            style="transform: rotate(0deg)"
          >
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </div>
        <div
          class="absolute z-50 transition duration-150 top-14 rounded-md shadow-lg left-0 w-full overflow-auto bg-accent pointer-events-none opacity-0 -translate-y-2"
        >
          <ul class="my-2 mx-1">
            <li>
              <!---->
              <ul>
                <li
                  class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-primary text-white"
                  data-value="0"
                >
                  1
                </li>
                <li
                  class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
                  data-value="1"
                >
                  2
                </li>
                <li
                  class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
                  data-value="2"
                >
                  3
                </li>
                <li
                  class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
                  data-value="3"
                >
                  4
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button
      class="rounded custom-opacity relative md-btn flex items-center bg-gray-200 overflow-hidden accent"
      style="min-height: 3rem; min-width: 2rem"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-chevron-right icon"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path d="m10 18 6-6-6-6"></path></svg
      ></span>
    </button>
  </div>
  <div class="flex" id="chapter-selector">
    <a
      href="/chapter/25d5538b-251a-460b-9d26-dd07dc145dc2"
      rel="noopener nofollow noreferrer"
      class="bg-gray-200 rounded custom-opacity relative md-btn flex items-center overflow-hidden accent"
      style="min-height: 3rem; min-width: 2rem"
      ><span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-chevron-left icon"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path d="m14.25 18-6-6 6-6"></path></svg></span
    ></a>
    <div class="mr-2 ml-2 flex-grow">
      <div class="relative">
        <label
          class="absolute pointer-events-none opacity-90 z-[3] text-xs left-4 top-2"
          >Chapter</label
        >
        <div
          class="relative z-[2] pt-6 pb-1 px-4 bg-accent cursor-pointer select-none rounded-md trnasition duration-75 border border-transparent"
        >
          <span>Chapter 9</span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="feather feather-chevron-down icon text-icon-contrast text-undefined chevron absolute right-4 top-3 transition-transform duration-150"
            viewBox="0 0 24 24"
            style="transform: rotate(0deg)"
          >
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </div>
        <div
          class="absolute z-50 transition duration-150 rounded-md shadow-lg left-0 w-full overflow-auto bg-slate-300 pointer-events-none opacity-1 -translate-y-2"
        >
          <ul>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 5
            </li>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 4
            </li>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 3
            </li>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 2
            </li>
            <li
              class="py-1 px-2 cursor-pointer rounded transition duration-75 scroll-m-8 bg-transparent hover:bg-accent-hover"
            >
              Chapter 1
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a
      href="/chapter/7bcbabc3-ea11-4f89-8a65-3e19b3ecc2e3"
      rel="noopener nofollow noreferrer"
      class="rounded custom-opacity relative md-btn flex items-center overflow-hidden accent bg-gray-200"
      style="min-height: 3rem; min-width: 2rem"
      ><span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: center"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-chevron-right icon"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path d="m10 18 6-6-6-6"></path></svg></span
    ></a>
  </div>

  <hr class="border-1 my-4 border-accent-20 border-dashed border-slate-950" />
  <div class="flex flex-col gap-2">
    <button
      class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4"
      style="min-height: 2.5rem; min-width: 100%"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: start"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          class="icon mr-4"
          style="color: currentcolor"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"
          ></path>
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 2v7h7"
          ></path></svg
        >Single Page</span
      ></button
    ><!---->
    <div class="flex">
      <button
        class="flex-grow mr-2 rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4 flex-grow mr-2"
        style="min-height: 2.5rem; min-width: auto"
      >
        <span
          class="flex relative items-center justify-center font-medium select-none w-full"
          style="pointer-events: none; justify-content: start"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            class="icon mr-4"
            style="color: currentcolor"
          >
            <path
              fill="currentColor"
              d="m9.5 13.09 1.41 1.41-4.5 4.5H10v2H3v-7h2v3.59zm1.41-3.59L9.5 10.91 5 6.41V10H3V3h7v2H6.41zm3.59 3.59 4.5 4.5V14h2v7h-7v-2h3.59l-4.5-4.5zM13.09 9.5l4.5-4.5H14V3h7v7h-2V6.41l-4.5 4.5z"
            ></path></svg
          >Fit Both</span
        ></button
      ><button
        class="rounded custom-opacity relative md-btn flex items-center overflow-hidden accent"
        style="min-height: 2.5rem; min-width: 2.5rem"
      >
        <span
          class="flex relative items-center justify-center font-medium select-none w-full"
          style="pointer-events: none; justify-content: center"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            class="icon"
            style="color: currentcolor"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
            ></path>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 1 1 0-4h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 1 1 2.83-2.83l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 1 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 3.417 1.415 2 2 0 0 1-.587 1.415l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 0 4h-.09a1.65 1.65 0 0 0-1.51 1"
            ></path></svg
        ></span>
      </button>
    </div>
    <button
      class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4"
      style="min-height: 2.5rem; min-width: 100%"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: start"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-arrow-right-circle icon mr-4"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="m12 16 4-4-4-4m-4 4h8"></path></svg
        >Left To Right</span
      ></button
    ><button
      class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4"
      style="min-height: 2.5rem; min-width: 100%"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: start"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          class="icon mr-4"
          style="color: currentcolor"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2"
          ></path></svg
        >Header Hidden</span
      >
    </button>
    <div class="flex">
      <button
        class="flex-grow mr-2 rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4 flex-grow mr-2"
        style="min-height: 2.5rem; min-width: auto"
      >
        <span
          class="flex relative items-center justify-center font-medium select-none w-full"
          style="pointer-events: none; justify-content: start"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="icon mr-4"
            style="color: currentcolor"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 15h16M7 15v-5m10 5v-5M4 9h16"
            ></path></svg
          >Normal Progress</span
        ></button
      ><button
        class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent !px-0"
        style="min-height: 2.5rem; min-width: 2.5rem"
      >
        <span
          class="flex relative items-center justify-center font-medium select-none w-full"
          style="pointer-events: none; justify-content: center"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            class="icon"
            style="color: currentcolor"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
            ></path>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 1 1 0-4h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 1 1 2.83-2.83l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 1 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 3.417 1.415 2 2 0 0 1-.587 1.415l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 0 4h-.09a1.65 1.65 0 0 0-1.51 1"
            ></path></svg
        ></span>
      </button>
    </div>
    <button
      class="rounded custom-opacity relative md-btn flex items-center px-3 overflow-hidden accent px-4"
      style="min-height: 2.5rem; min-width: 100%"
    >
      <span
        class="flex relative items-center justify-center font-medium select-none w-full"
        style="pointer-events: none; justify-content: start"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          class="icon mr-4"
          style="color: currentcolor"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
          ></path>
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 1 1 0-4h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 1 1 2.83-2.83l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 1 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 3.417 1.415 2 2 0 0 1-.587 1.415l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 0 4h-.09a1.65 1.65 0 0 0-1.51 1"
          ></path>
        </svg>
        Reader Settings
      </span>
    </button>
  </div>
</div>

