<div class="relative w-full flex bg-slate-100 rounded-xl h-48 overflow-hidden">
  <div class="h-full p-1 w-25%">
    <a href="/title/5356ad15-1012-4867-af98-70478eb8d643/bouncer" class="h-full"
      ><img
        class="rounded shadow-md object-cover w-full h-auto"
        src="https://mangadex.org/covers/5356ad15-1012-4867-af98-70478eb8d643/e9ba08a3-053a-4a41-9f69-f0dfbb873c2b.jpg.256.jpg"
        alt="Cover image"
    /></a>
  </div>
  <div class="flex flex-col px-2">
    <a
      href="/title/5356ad15-1012-4867-af98-70478eb8d643/bouncer"
      class="font-bold title"
      exact=""
      style="grid-area: title"
      ><span>Bouncer</span></a
    >

    <div
      data-v-c3ae9790=""
      class="flex flex-wrap gap-1 tags-row overflow-y-hidden tags self-start"
    >
      <a
        href="/tag/391b0423-d847-456f-aff0-8b0cfc03066b/action"
        class="tag bg-accent"
        >Action</a
      >
    </div>
    <div class="flex justify-between">
      <div class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-star icon rel"
          viewBox="0 0 24 24"
          style="color: currentcolor"
        >
          <path
            d="m12 2 3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01z"
          ></path></svg
        >8.45
      </div>
      <div class="" title="6307">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          class="icon small text-icon-contrast text-undefined"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 21-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"
          ></path></svg
        >6.307
      </div>
      <div class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="feather feather-eye icon small text-icon-contrast text-undefined"
          viewBox="0 0 24 24"
        >
          <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8"></path>
          <circle cx="12" cy="12" r="3"></circle></svg
        ><span>N/A</span>
      </div>
      <a
        data-v-c5cce44b=""
        title="View 46 comments"
        href="https://forums.mangadex.org/threads/143244"
        target="_blank"
        rel="noopener nofollow noreferrer"
        class="text-sm comment-container"
        ><svg
          data-v-c5cce44b=""
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
          class="icon small text-icon-contrast text-undefined"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
          ></path></svg
        ><span data-v-c5cce44b="">46</span></a
      ><!---->
    </div>
    <div>
      <p>
        In hopes to escape a forced marriage, Giovinetta makes a wish to the
        devil to save her, but what she doesn't know are the consequences of her
        actions.
      </p>
    </div>
  </div>
</div>
